---
layout: main
title: Olivia Cha - Video Editor - Videos
---

{% for section in page.sections %}
<table class='videotable'>
    <tr>
        <td class="videotabletitle" colspan="3">{{ section.name }}</td>
    </tr>
    <tr>
    {% for link in section.links %}
        <td><a href="/watch/?vid={{ link.id }}"><img src="{{ link.thumbnail }}" /></a></td>
        {% capture themod %}{{ link.position | modulo: 3}}{% endcapture %}
        {% if themod == "0" %}
            </tr><tr>
        {% endif %}
    {% endfor %}
    </tr>
</table>
{% endfor %}

<!-- <table class='videotable'>
    <tr>
        <td class="videotabletitle" colspan="3">tv</td>
    </tr>
    <tr>
        <td><a href="/watch/?vid=76516796"><img src="http://b.vimeocdn.com/ts/451/349/451349356_200.jpg" /></a></td>
        <td><a href="/watch/?vid=77002689"><img src="http://b.vimeocdn.com/ts/452/046/452046229_200.jpg" /></a></td>
        <td><a href="/watch/?vid=76517368"><img src="http://b.vimeocdn.com/ts/451/349/451349136_200.jpg" /></a></td>
    </tr>
    <tr>
        <td><a href="/watch/?vid=76516796"><img src="http://b.vimeocdn.com/ts/451/349/451349271_200.jpg" /></a></td>
        <td><a href="/watch/?vid=76516796"><img src="http://b.vimeocdn.com/ts/452/055/452055527_200.jpg" /></a></td>
        <td><a href="/watch/?vid=76516796"><img src="http://b.vimeocdn.com/ts/451/348/451348960_200.jpg" /></a></td>
    </tr>
</table>

<table class='videotable'>
    <tr>
        <td class="videotabletitle" colspan="3">doc &amp; education</td>
    </tr>
    <tr>
        <td><a href="/watch/?vid=76516796"><img src="http://b.vimeocdn.com/ts/451/356/451356297_200.jpg" /></a></td>
        <td><a href="/watch/?vid=76516796"><img src="http://b.vimeocdn.com/ts/451/356/451356309_200.jpg" /></a></td>
        <td><a href="/watch/?vid=76516796"><img src="http://b.vimeocdn.com/ts/451/350/451350108_200.jpg" /></a></td>
    </tr>
    <tr>
        <td><a href="/watch/?vid=76516796"><img src="http://b.vimeocdn.com/ts/452/029/452029085_200.jpg" /></a></td>
        <td></td>
        <td></td>
    </tr>
</table>

<table class='videotable'>
    <tr>
        <td class="videotabletitle" colspan="3">corporate</td>
    </tr>
    <tr>
        <td><a href="/watch/?vid=76516796"><img src="http://b.vimeocdn.com/ts/451/355/451355728_200.jpg" /></a></td>
        <td><a href="/watch/?vid=76516796"><img src="http://b.vimeocdn.com/ts/451/355/451355059_200.jpg" /></a></td>
        <td><a href="/watch/?vid=76516796"><img src="http://b.vimeocdn.com/ts/451/355/451355486_200.jpg" /></a></td>
    </tr>
    <tr>
        <td><a href="/watch/?vid=76516796"><img src="http://b.vimeocdn.com/ts/451/352/451352081_200.jpg" /></a></td>
        <td><a href="/watch/?vid=76516796"><img src="http://b.vimeocdn.com/ts/451/362/451362353_200.jpg" /></a></td>
        <td><a href="/watch/?vid=76516796"><img src="http://b.vimeocdn.com/ts/451/352/451352364_200.jpg" /></a></td>
    </tr>
</table>

<table class='videotable'>
    <tr>
        <td class="videotabletitle" colspan="3">pitch</td>
    </tr>
    <tr>
        <td><a href="/watch/?vid=76516796"><img src="http://b.vimeocdn.com/ts/451/349/451349356_200.jpg" /></a></td>
        <td><a href="/watch/?vid=76516796"><img src="http://b.vimeocdn.com/ts/452/046/452046229_200.jpg" /></a></td>
        <td><a href="/watch/?vid=76516796"><img src="http://b.vimeocdn.com/ts/451/362/451362965_200.jpg" /></a></td>
    </tr>
</table>

<table class='videotable_nospacing'>
    <tr>
        <td class="videotabletitle" colspan="3">events</td>
    </tr>
    <tr>
        <td>Aired at Citifield, AT&amp;T Stadium, MetLife Stadium, The Plaza, Cipriani... Available on request. </td>
    </tr>
</table>

<table class='videotable_nospacing'>
    <tr>
        <td class="videotabletitle" colspan="3">montages</td>
    </tr>
    <tr>
        <td>Themes: Glee, Modern Family, SNL, Amazing Race, Austin Powers, Jets, ESPN.  Available on request.</td>
    </tr>
</table> -->
