---
layout: main
title: Olivia Cha - Video Editor - Videos
---

{% for section in page.sections %}
<table class='videotable'>
    <tr>
        <td class="videotabletitle" colspan="3">{{ section.name }}</td>
    </tr>
    <tr>
    {% if section.text != ''%}
        <td>{{ section.text }}</td>
    {% else %}
    {% for link in section.links %}
        <td><a href="/watch/?vid={{ link.id }}"><img src="{{ link.thumbnail }}" /></a></td>
        {% capture themod %}{{ link.position | modulo: 3}}{% endcapture %}
        {% if themod == "0" %}
            </tr><tr>
        {% endif %}
    {% endfor %}
    {% endif %}
    </tr>
</table>
{% endfor %}
