---
layout: main
title: Olivia Cha - Video Editor - Videos
---

{% for section in page.sections %}
<table class='videotable'>
    <tr>
        <td class="videotabletitle" colspan="3">{{ section.name }}</td>
    </tr>
    <tr>
    {% for link in section.links %}
        {% if link.text != ''%}
            <td colspan="3">{{ link.text }}</td></tr><tr>
        {% else %}
            <td><a href="/watch/?vid={{ link.id }}"><img src="{{ link.thumbnail }}" /></a></td>
            {% capture themod %}{{ link.position | modulo: 3}}{% endcapture %}
            {% if themod == "0" %}
                </tr><tr>
            {% endif %}
        {% endif %}
    {% endfor %}
    </tr>
</table>
{% endfor %}
